/* input:valid + button {
    pointer-events: all !important;
  } */

  .myBox {
    border: 1px solid green;
    height: 40px;
    margin: 10px auto;
    width: 450px;

}

  .my-row {
    width: 500px;
    margin: auto;
  }

  .my-input {
    height: 50px;
    width: 350px;
    margin-left: 20PX;
  }

  .my-button {
    width: 100px;    
    /* pointer-events: none; */
  }